.heading{
    color: #007BFD;
    margin-bottom: 4px;
}
.policy{
    margin-left: 220px;
    margin-right: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    display: flex;
    max-width: 67rem;
    overflow: auto;
}